#rodape{
    background-color: #ECD5FD;
    color: #240046;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: -10px;
    width: 100%;
    padding: 0 9px;
    margin-left: -10px;

}
hr{
    width: 300px;
    margin-top: -20px;
    border: #BD8FFF solid 1px;
}
section{
 display: flex;
 justify-content: center;
}
section h3{
    margin-right: 3em;
}

