:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #BD8FFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pagina{
  text-align: center;
  font-family: Audiowide, inherit;
  color:#240046;

}




#formulario{
  padding: 10px 30px;

  background: #2400466B;
  text-align:center;
  border-radius: 10px;    
  font-size: 15px;
}
#formulario h2{
  padding: 25px;
}
#formulario input{
  background-color: #EBC9FFAA;
  border: none;
  border-radius: 10px;
  width: 300px;
  height: 30px;
  outline: 0;
}
#formulario button{
  background-color: #EBC9FFAA;
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 30px;
  margin: 20px;
  cursor: pointer;
}
#formLink a{
  margin: 50px;
  text-decoration: none;
  color: #FFECD0;
}
