#menu{
    display: flex;
    justify-content: center;
}
#menu li{
    display: flex;
    margin: 0 auto;
    display: flex;
    display: inline-block;


}
#menu li a{
    text-decoration: none;
    margin: 0 45px;
    color: #ffffff;
    font-size: 25px;
}