#cadastro{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px;
  }
  #cadastro img{
    width: 400px;
    height: auto;
  }
  
  
  #formCad{
      display: flex;
      zoom: 90%;
  }
  
  #formCad div{
     margin: 0 20px;
  }
  
#cadastro form button{
    width: 130px;
}
/* 
#formulario{
    width: 870px;
    height: 400px;
}
#formulario h2{
  padding: 25px;
}
#formulario input{
  background-color: #EBC9FFAA;
  border: none;
  border-radius: 10px;
  width: 300px;
  height: 30px;
  outline: 0;
}
#formulario button{
  background-color: #EBC9FFAA;
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 30px;
  margin: 20px;
  cursor: pointer;
}
#formLink a{
  margin: 50px;
  text-decoration: none;
  color: #FFECD0;
}
 */